<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ profile.title }} - {{ assessment.uri }}</title>
  {% block head_icons %}
  <link rel="shortcut icon" href="https://www.acquia.com/themes/custom/uplifting/favicon.ico" type="image/vnd.microsoft.icon">
  <meta name="theme-color" content="#ffffff">
  {% endblock %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/simplex/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% include 'report/css/page.css' %}
  {% block extra_css %}{% endblock %}
  <style>

    {# Font #}
    {% include 'assets/font-proxima_nova.twig.html' %}
     body, h1, h2, h3, h4, h5 {
      font-family: 'proxima_nova_altregular' !important;
    }
    h1 {
      color: #26a3dd !important;
      font-weight: bolder;
      font-size: 60px;
      line-height: 1em;
      font-style: italic;
    }
    h2, h3, h4 {
      color: #26a3dd !important;
      line-height: 1.2em;
    }
    {# Body and general #}
    body {
      margin-top: 0;
      color: #1D1714;
    }
    table thead tr.table-active,
    .table-hover .table-active:hover {
      background-color: #66c8ca;
    }
    table tbody tr {
      background-color: #e7edf4;
      border-bottom: 2px solid white;
    }
    .table-hover tbody tr:hover td,
    .table-hover tbody tr:hover th {
      background-color: #d1e1eb;
    }
    .card-body .table-active>th {
      background-color: #fff;
      border-bottom: 2px solid gray;
      border-top: none;
      padding: 0.325rem;
      padding-top: 1rem;
    }
    .card-body .table-hover .table-active:hover,
    .card-body table thead tr.table-active,
    .card-body .table-hover thead tr:hover th {
      background-color: #fff;
    }
    .panel {
      margin-top:1em;
    }
    a {
      color: #f47a20;
    }
    a:hover {
      color: #232C61;
    }
    a.toc-link {
      color: #232C61;
    }
    a.toc-link:hover,
    a.is-active-link {
      color: #E1126E;
    }
    .is-active-link::before {
      background-color: #FEC231;
    }

    {# Header  #}
    #acquia-logo {
      max-width: 250px;
    }
    .jumbotron {
      position: relative;
      z-index: 100;
      padding: 0px;
      margin-bottom: 0;
      max-height: 3.67in;
      overflow: hidden;
      background-image: linear-gradient(to bottom right, #222a62, #26a3dd);
    }
    .jumbotron .gridbg {
      position: absolute;
      width: 100%;
      height: 2.3in;
      opacity: .2;
      background-image: {% include 'assets/grid.twig.html' %};
    }
    .jumbotron .flowbg {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 25px;
      background-image: {% include 'assets/flow.twig.html' %};
    }
    .jumbotron .headerbrand {
      height: 2.3in;
      margin-left: auto;
      margin-right: auto;
      padding-top: 60px;
    }
    .headertext {
      position: relative;
      min-height: 2in;
    }
    .container.headertext_text {
      padding-top: 3em;
      padding-bottom: 3em;
      -webkit-print-color-adjust: exact;
    }
    .container.headertext_text h2 {
      color: #232C61 !important;
    }
    .assessment-uri {
      font-size: x-large;
    }

     {# Footer #}
    footer {
      display: flex !important;
    }
    footer p {
      color: white !important;
      -webkit-print-color-adjust: exact;
    }
    .footer_left {
      position: relative;
      width: 25%;
    }
    .fl_bg {
      border-top: 50px solid #26A3DD;
      border-left: 0px solid transparent;
      border-right: 25px solid transparent;
      height: 0;
      position: relative;
      z-index: -10;
    }

    .footer_mid {
      position: relative;
      width: 60%;
      margin-left: -25px;
    }
    .fm_bg {
      border-top: 50px solid #232C61;
      border-left: 0px solid transparent;
      border-right: 25px solid transparent;
      height: 0;
      min-width: 2in;
      position: relative;
      z-index: -12;
    }
    .fm_text {
      margin-left: 25px;
    }
    .footer_right {
      width: 15%;
      position: relative;
    }
    .fr_text #acquia-logo-blue {
      max-height: 30px;
      margin: auto;
    }
    .fr_text {
      right: 0;
    }
    .fl_text, .fm_text, .fr_text {
      position: absolute;
      top: 0;
      padding: 1em;
    }
    code {
      color: #E1126E !important;
    }

     {# PDF / Printing #}
    @media print {
      #acquia-logo {
        width: 2in;
      }
      .jumbotron .leftbg {
        width: 80%;
      }

      footer p {
        font-size: 8pt;
      }
      body, h1, h2, h3, h4, h5 {
        font-family: 'proxima_nova_altregular' !important;
      }
      h1 {
        color: #26a3dd !important;
        font-weight: bolder;
        font-size: 30px;
        line-height: 1em;
        font-style: italic;
      }
      h2, h3, h4 {
        color: #26a3dd !important;
        line-height: 1.2em;
      }
      div#table_of_contents {
        page-break-before: always;
        page-break-after: always;
      }
      div#report .result-group {
        page-break-inside: avoid;
      }
      div#report section {
        page-break-inside: avoid;
      }
      div#report {
        max-width: 85%;
      }
      html, body {
        font-size: 12pt;
        line-height: 1.2em;
      }
      body > .container > footer {
        border-top: solid 1px #ccc;
        position: fixed;
        bottom: 0;
        left:0;
        display: block;
        width: 100%;
        padding: 5mm 10mm 0mm 10mm;
        background-color:white !important;
        font-size: 1.5em;
      }
      body {
        -webkit-print-color-adjust: exact;
        color: inherit !important;
      }

      /* .alert-info a {
        color: #F47A20 !important;
      } */
      .table {
          table-layout: fixed;
      }
      .sidebar {
        display:none;
      }
    }
  </style>
</head>
<body data-spy="scroll" data-target="#toc">
<a id="top"></a>
<!-- Main jumbotron for a primary marketing message or call to action -->
<!-- <div class="wrap_header"> -->
  <div class="jumbotron">
    <div class="gridbg"></div>
    <div class="container headerbrand">
      {% include 'assets/logo.twig.html' %}
    </div>
    <div class="flowbg"></div>
  </div> <!-- /jumbotron -->
  <div class="headertext">
    <div class="container headertext_text">
      <h1>{{ profile.title }}</h1>
      <p class="text-muted"><span class="assessment-uri">Prepared for <strong>{{ assessment.uri }}</strong></span><br> on <em>{{ "now"|date("F jS, Y") }}</em></p>
    </div>
  </div> <!-- /headertext -->

<div class="container">
  <div class="row">
    <div class="main col-lg-9">
      <button type="button" class="close toc-toggle toc-toggle-open sticky-top" aria-label="Close">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
      </button>
    {% include 'report/page/sections.html.twig' %}
    </div> <!-- /col-lg-9 -->
    <div class="sidebar col-lg-3">
      <!-- #table_of_contents# -->
      <button type="button" class="close toc-toggle toc-toggle-close sticky-top" aria-label="Close">
        <span class="fa fa-times" aria-hidden="true"></span>
      </button>
      <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
    </div> <!-- /sidebar -->
  </div>
</div> <!-- /container -->

<div class="wrapper_footer container">
  <footer>
    <div class="footer_left">
      <div class="fl_bg"></div>
      <div class = "fl_text">
        <p>&copy; Acquia | Confidential</p>
      </div>
    </div>
    <div class = "footer_mid">
      <div class="fm_bg"></div>
      <div class = "fm_text">
        <p>53 State Street, Boston, MA, 02109  /  888.922.7842</p>
      </div>
    </div>
    <div class = "footer_right">
      <div class="fr_bg"></div>
      <div class = "fr_text">
        {% include 'assets/logo_blue.twig.html' %}
      </div>
    </div>
  </footer>
</div>


<script>
    // Default Chart colors for this theme.
    // These colors come from Acquia's Brand Guide
    var chartColors = [
        'rgba(38, 164, 221,1.0)',
        'rgba(244, 123, 32,1.0)',
        'rgba(35, 45, 97,1.0)',
        'rgba(103, 200, 202,1.0)',
        'rgba(255, 194, 51,1.0)',
        'rgba(225, 19, 111,1.0)',
        'rgba(30, 24, 21,1.0)'
    ];
</script>
{% include 'report/page/footer.html.twig' %}

</body>
</html>
